@font-face {
  font-family: "Pinyon Script";
  src: url("../Polices/PinyonScript-Regular.ttf");
}

body {
  font-family: 'Times New Roman', cursive;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  background-image: url("Images/bckg30.jpeg");
  background-size: cover;
}

/* Menu */
.header a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.lang img {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.lang a {
  height: 96px;
  padding-left: 30px;
  padding: 0;
  width: 92px;
}

.primary ul {
  list-style: none;
  position: relative;
  text-align: left;
}

.primary li {
  float: left;
}

ul:after {
  clear: both;
}

ul:before,
ul:after {
  content: " ";
  display: table;
}

nav {
  font-family: 'Pinyon Script', cursive;
  position: relative;
  background-color: #ea5c0d;
  /*
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  */
  text-align: center;
  text-shadow: 0.063em 0.063em 0.063em #333333;
}

ul.logo {
  position: relative;
  width: 260px;
  float: left;
  margin: 0;
  padding: 0;
  z-index: 1;
}

ul.logo a, img {
  width: 100%;
  height: 96px;
}

ul.primary li .menuItem {
  display: block;
  padding-right: 1.875em;
  padding-left: 1.875em;
  padding-top: 1.2em;
  padding-bottom: 1em;
  border-right: 0.063em solid #3D3D3D;
  font-size: 25px;
  color: #fff;
}

.menu-toggle-button, .primary a {
  transition: 1s;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #b94503;
}

/* sousmenus */
ul.sousmenu {
  position: absolute;
  z-index: 2;
  box-shadow: 0.125em 0.125em 0.188em #505050;
  width: 35%;
  display: none;
  padding-left: 0;
  font-size: 25px;
}

ul.sousmenu li {
  float: none;
  margin: 0;
}

ul.sousmenu li a {
  border-bottom: 0.063em dotted #ccc;
  border-right: none;
  color: #000;
  padding: 0.938em 3.125em;
}

ul.sousmenu li:last-child a {
  border-bottom: none;
}

ul.sousmenu li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sousmenu display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover>a {
  color: #000;
}

.primary {
  width: auto;
  list-style: none;
  margin-left: 400px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.primary .menuItem {
  display: inline-block;
  padding: 1rem;
}

.primary a:focus,
.primary a:hover {
  background-color: #444;
  outline: none;
}

.primary a:active {
  background-color: #666;
}

.menu-toggle-button {
  cursor: pointer;
  display: none;
  padding: 1rem;
  user-select: none;
}

.menu-toggle {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

#lang {
  float: right;
}

.slider-container img {
  max-width: 100%;
  max-height: 89%;
}

.slider-container {
  height: 76%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
}

[class^="swiper-button-"] {
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#gestionTailleSlider *, #gestionTailleSlider *:before, #gestionTailleSlider *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 100vh;
  float: left;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}

.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s ease;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

.swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

.swiper-slide .content .title {
  font-size: 5em;
  font-family: 'Pinyon Script', cursive;
  font-weight: bold;
  margin-bottom: 30px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}

.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.hiden a {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0%;
  margin-left: 0%;
}

/* ajout */
#ajout .ajout {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}

#ajout .clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

#ajout .clearfix:after {
  clear: both;
}

#ajout .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#ajout .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#ajout .btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

#ajout .fileupload {
  margin-bottom: 9px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}

#ajout .fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.fileupload .thumbnail>img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

#ajout .fileupload .btn {
  vertical-align: middle;
}

#ajout .fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
  display: none;
}

#ajout .fileupload-inline .fileupload-controls {
  display: inline;
}

#ajout .fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#ajout .thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#ajout .fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

#ajout .control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}

#ajout .control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}

#ajout .control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}

#ajout .control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}

#ajout .control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}

#ajout .control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}

#ajout .control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}

#ajout .control-group.success .fileupload .fileupload-preview {
  color: #468847;
}

#ajout .control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

#admin .title {
  font-family: 'Pinyon Script', cursive;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  background-color: #ce500a;
  color: #fff;
  font-size: 40px;
}

/* admin */
#admin tr > .imagetab{
  width: 10%;
}
#admin td > img{
  width: 100%;
  height: 100%;
}
#admin .tab{
  width: 10%;
  height: 10%;
}
#admin table{
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

/* Footer */
footer {
  background-color: #d14a00;
  border-top: 10px solid #ff5b00;
  display: inline-block;
  height: auto;
  width: 100%;
  padding-bottom: 1em;
  left: 0;
  bottom: 0;
  position: relative;
  color: #ffffff;
}

#ajout footer{
  margin-top: 6.5em;
}

.Partenaires {
  margin-left: 15%;
  display: inline-block;
  float: left;
  width: auto;
}

.Propos {
  float: right;
  margin-right: 15%;
  display: inline-block;
  width: auto;
}

.Social{
  margin-top: 1.5em;
  text-align: center;
}

.Social img{
  width: 36px;
  height: 36px;
}

@media only screen and (max-width: 630px) {
  .Social{
    margin-top: 7em;
    margin-left: 9%;
    text-align: left;
  }
}

footer ul {
  margin-top: 0.5em;
  font-size: 24px;
}

.ftr {
  color: #fff;
  text-decoration: none;
}

.ftr:hover {
  text-decoration: underline;
}

footer li {
  margin-left: 0.5em;
  list-style: none;
  font-size: 20px;
}

@media only screen and (max-width: 1640px) {
  .primary {
    margin: 0;
  }

  ul.primary li .menuItem {
    display: block;
    padding-right: 1.875em;
    padding-left: 1.875em;
    padding-top: 1.2em;
    padding-bottom: 1em;
    border-right: 0.063em solid #3D3D3D;
    font-size: 20px;
  }

  .sousmenu {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1215px) {
  ul.logo, .lang {
    display: none;
    visibility: hidden;
  }

  .primary li {
    margin-right: 2500em;
  }

  .primary {
    flex-direction: column;
    display: inline-grid;
    margin: 0;
  }

  .primary .menuItem {
    width: 100%;
  }

  .primary label {
    padding-top: 0;
    float: left;
  }

  ul.primary li .menuItem {
    border-right: 0;
  }

  .menu-toggle:not(:checked)~.primary {
    display: none;
    float: left;
  }

  .menu-toggle-button {
    display: -webkit-box
  }

  #menu-toggle .menu-toggle:focus~.menu-toggle-button,
  #menu-toggle .menu-toggle-button:hover {
    background-color: #444;
  }

  .menu-toggle:focus~.menu-toggle-button,
  .menu-toggle-button:hover {
    background-color: #inherit;
  }
}

/* Menu, footer */
@media only screen and (max-width: 930px) {

  /* Menu burger */
  ul.sousmenu {
    width: 262px;
  }

  .primary {
    width: 100%;
  }

  .primary li {
    margin-right: 2500em;
  }

  /* footer */
  .Propos {
    margin-left: 9%;
    display: inline-block;
    float: left;
    width: auto;
    font-size: 15px;
  }

  .Partenaires {
    margin-left: 9%;
    font-size: 15px;
  }

  footer li {
    font-size: 13px;
  }

  .swiper-slide .content .title {
    font-size: 2em;
  }
}
