body{
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  margin: 0;
  padding: 0;
  background-image: url("../../Images/bckg30.jpeg");
  background-size: cover;
}

/* Menu */

.lang img{
  float: right;
  width: 2%;
  height: 2%;
  z-index: auto;
  margin-top: 25px;
  margin-right: 25px;
}


.sousmenu{
    display: none;
}

.Logo{
  width: 250px;
  float: left;
}


.menu nav{
  width: 100%;
  background-color: #ea5c0d;
}

nav > ul{
  margin: 0px;
  padding: 0px;
}

nav > ul::after{
  content: "";
  display: block;
  clear: both;
}

nav > ul > li{
  float: left;
  position: relative;
}

nav > ul > li > a{
  padding: 20px 100px;
  color: #FFF;
}

nav > ul > li:hover  a{
  padding: 20px 100px 20px;
}

nav li{
  list-style-type: none;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav li:hover .sousmenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index:1000;
}

.sousmenu li{
  border-bottom: 1px solid #CCC;
}

.sousmenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}

nav > ul > li:hover{
  border-top: 5px solid #b94503;
  background-color: rgba(185, 68, 2, 0.15);
}

nav > ul > li .sousmenu{
  background-color: #f7af3e;
}

/* Nouveau menu */


/* Gestion de la page en dehors du menu */

.title{
  border: 5px solid #777;
  width: 7em;
  margin: 5px auto;
  margin-bottom: 1em;
  text-align: center;
}

/* Page Architecture */

#archi .container{
  margin-left: 1em;
  text-align: center;
}

#archi .monuments{
  display: inline-block;
  width: auto;
}

#archi .monuments > a >img{
  width: 15em;
  height: 15em;
  border-radius: 35%;
  margin-left: 3em;
  margin-right: 3em;
}

#archi h3{
  margin-bottom: 3em;
}

@media only screen and (max-width: 550px) {
    #archi .monuments > a >img{
      width: 10em;
      height: 10em;
      margin-left: 1em;
      margin-right: 1em;
    }

    #archi h3{
      margin-bottom: 3em;
      width: 250px;
    }

}

#archi h2{
    border: 5px solid #777;
    width: 7em;
    margin: 5px auto;
    margin-bottom: 1em;
    text-align: center;
}

/* Page Autour de vous */

#autour h2{
    border: 5px solid #777;
    width: 11em;
    margin: 5px auto;
    text-align: center;
}


#autour .map{
  margin: 1em auto;
  width:80%;
  height: 30em;
}

#autour iframe{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px){
  #autour .map{
    width:100%;
    height: 20em;
  }
}

}


/* Twitter */
#twitter h2{
  border: 5px solid #777;
  width: 8em;
  margin: 5px auto;
  text-align: center;
}

#twitter .tt{
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

@media only screen and (max-width: 1200px) {
    #twitter .tt{
      max-width: 100%;
    }

}

/* Circuits */

#circuits h2{
    border: 5px solid #777;
    width: 11em;
    margin: 5px auto;
    text-align: center;
}


#circuits .map{
  margin: 1em auto;
  width:80%;
  height: 30em;
}

#circuits iframe{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px){
  #circuits .map{
    width:100%;
    height: 20em;
  }
}

}

/* Contact */

#contact .projet{
  margin-left: 1em;
  text-align: center;
}

#contact .equipe{
  margin-left: 1em;
  text-align: center;
}

#contact .pers{
  display: inline-block;
  width: auto;
}

#contact .pers > a > img{
  width: 13em;
  height: 13em;
  margin-left: 3em;
  margin-right: 3em;
  border-radius: 50%;
}

#contact .pers > h3{
  margin-bottom: -20px;
}

@media only screen and (max-width: 550px) {
  #contact .pers > a > img{
    width: 10em;
    height: 10em;
    margin-left: 0em;
    margin-right: 0em;
  }

  #contact .pers > h3{
    width: 250px;
  }

  #contact .pers > h4{
    margin-bottom: 3em;
    width: 250px;
  }

}

#contact .DA{
  margin-left: 1em;
  text-align: center;
}

/* Frise */

#frise h2{
    border: 5px solid #777;
    width: 19em;
    margin: 5px auto;
    text-align: center;
    margin-bottom: 1em;
}

#frise .frise > img{
  width: 55%;
  margin-left: 22%;
}

/* Insolite */


#insolite .container{
  margin-left: 1em;
  text-align: center;
}

#insolite .insolite{
  display: inline-block;
  width: auto;
}

#insolite .insolite > a >img{
  width: 23em;
  height: 20em;
  border-radius: 35%;
  margin-left: 3em;
  margin-right: 3em;
}


#insolite h3{
  margin-bottom: 3em;
}

@media only screen and (max-width: 550px) {

  #insolite .insolite > a >img{
    width: 10em;
    height: 10em;
    margin-left: 0em;
    margin-right: 0em;
  }

  #petitsprix .h3 {
    width: 250px;
  }
}


#insolite h2{
    border: 5px solid #777;
    width: 7em;
    margin: 5px auto;
    text-align: center;
}

/* Petits Prix */


#petitsprix .container{
  margin-left: 1em;
  text-align: center;
}

#petitsprix .adresse{
  display: inline-block;
  width: auto;
}

#petitsprix .image{
  width: 15em;
  height: 15em;
  border-radius: 35%;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
}

#petitsprix .h3 {
  margin-bottom: 3em;
}

@media only screen and (max-width: 550px) {
  #petitsprix .image{
    width: 10em;
    height: 10em;
    margin-left: 0em;
    margin-right: 0em;
  }

  #petitsprix .h3 {
    width: 250px;
  }
}

#petitsprix h2{
    border: 5px solid #777;
    width: 7em;
    margin: 5px auto;
    text-align: center;
}

#petitsprix footer {
    background-color: #ea5c0d;
    display: inline-block;
    width: 100%;
    margin-top: 5em;
    left: 0;
    bottom: 0;
    position: relative;
}

/* Transports */

#transport .boiteinfo1{
    width: 85%;
    float: left;
    margin: 30px auto;
    border: 2px solid #888;
    box-shadow:  0px 0px 2px #AAA;
    background-color: rgba(255, 255, 255, .5);
}

#transport .boiteinfo2{
    width: 85%;
    float: right;
    margin: 30px auto;
    border: 2px solid #888;
    background-color: rgba(255, 255, 255, .5);
}

@media only screen and (max-width: 1200px) {
    #transport .boiteinfo1{
      width: 98%;
    }

    #transport .boiteinfo2{
        width: 98%;
    }
}

#transport p {
    font-size: 15px;
    margin-left: 1.5em;
}

#transport .text{
  margin-left: 2em;
}

#transport h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin: 20px 0px 2px 0px;
}

#transport .more-content h2{
  margin-left: 20px;
  font-size: 23px;
}

#transport .busIcon{
  width: 2.5em;
  margin-bottom: -1em;
}

#transport .subtitle{
  font-weight: bold;
  margin-bottom: 0.2em;
  font-size: 23px;
}

#transport .read-more-state {
  display: none;
}


#transport .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

#transport .read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

#transport .read-more-wrap{
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
}

#transport .read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

#transport .read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

#transport .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
  align-items: center;
}

/* Ancien Footer */
footer {
  background-color: #ea5c0d;
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  position: relative;
}
/*
footer > div{
  margin-left: 30%;
}
*/
.desc{
  width: 55%;
  font-size: 16px;
  margin-top: -1.5em;
}
.qui > h6{
  margin-top: 0.8em;
}

/* WIP footer */

#transport footer {
  background-color: #d14a00;
  border-top: 10px solid #ff5b00;
  display: inline-block;
  width: 100%;
  margin-top: 6em;
  left: 0;
  bottom: 0;
  position: relative;
  color: #ffffff;
}

#transport .Partenaires{
  margin-left: 15%;
  display: inline-block;
  float: left;
  width: auto;
}

#transport .Propos{
  float: right;
  margin-right: 15%;
  display: inline-block;
  width: auto;
}

#transport ul {
  margin-top: 0;
}

#transport .ftr{
  color: #fff;
  text-decoration: none;
}

#transport .ftr:hover{
  text-decoration: underline;
}

#transport li{
  margin-left: 0.5em;
  margin-top: 0.5em;
  list-style: none;
  font-size: 15px;
}

@media only screen and (max-width: 930px) {
  #transport .Partenaires{
    margin-left: 9%;
    font-size: 17px;
  }

  #transport .Propos{
    margin-left: 9%;
    display: inline-block;
    float: left;
    width: auto;
    font-size: 17px;
  }

  #transport li{
    font-size: 13px;
  }
}
